* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #eef6ff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


.title {
    text-align: center;
    font-size: 6vw;
    font-weight: 900;
    letter-spacing: 0.5vw;
    margin: 3vh 0 2vh 0;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0 0 20px rgba(59, 130, 246, 0.8);
}

.tagline {
    text-align: center;
    font-size: 400;
    color: #94a3b8;
    margin-bottom: 5vh;
    letter-spacing: 1px;
    font-weight: 500;
}

.home-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
}

.player-select-row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.player-select-row label {
    font-weight: 600;
    font-size: 16px;
    color: #e2e8f0;
}

#playerCount {
    padding: 6px 12px;
    border-radius: 10px;
    border: 1px solid #22d3ee;
    background: linear-gradient(135deg, #3b82f6, #22d3ee);
    color: #0f172a;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    width: 130px;

}

#playerCount:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px #22d3ee;
}


#playerCount:focus {
    box-shadow: 0 0 15px #3b82f6;
}

.home-card:first-child {
    flex: 1 1 58%;
    height: auto;
    min-height: 300px;
}

.home-card:last-child {
    flex: 1 1 38%;
    height: auto;
    min-height: 400px;
}

.home-card {
    padding: 3vw;
    border-radius: 1rem;
    background: rgba(30, 41, 59, 0.9);
    border: 1px solid #334155;
    transition: all 0.3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
}

.home-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 40px rgba(59, 130, 246, 0.3);
}

#playersInputContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 50px auto;
}

.players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%
}

.progress-section {
    width: 100%;
    max-width: 1100px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 1vh 0;
    border-radius: 10px;
    border: 1px solid #334155;
    background: #010309;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    border: 1px solid #3b82f6;
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.6);
}

.play-btn {
    width: 50%;
    align-self: center;
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(90deg, #3b82f6, #22d3ee);
    color: white;
    transition: 0.3s;
}

.play-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #3b82f6;
}

.error-msg {
    color: #ef4444;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
}

.leaderboard {
    flex: 1;
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 6px;
    scrollbar-width: thin;
    scrollbar-color: rgba(34, 211, 238, 0.6) transparent;
}


.leaderboard h2 {
    font-size: 3vw;
    margin-bottom: 2vh;
    color: #22d3ee;
    text-shadow: 0 0 6px #3b82f6;
}

.leaderboard p {
    font-size: 1.2vw;
    margin: 1.5vh 0;
    padding: 12px;
    background: rgba(15, 23, 42, 0.7);
    border-radius: 10px;
    border-left: 4px solid #3b82f6;
    transition: 0.3s;
}

.leaderboard p:hover {
    background: rgba(30, 41, 59, 0.9);
    transform: translateX(5px);
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #334155;
}

.leaderboard-table th {
    background: #0f172a;
    color: #22d3ee;
    font-weight: bold;
}

.leaderboard-table tr:hover {
    background: rgba(59, 130, 246, 0.1);
}

.leaderboard::-webkit-scrollbar {
    width: 6px;
}

.leaderboard::-webkit-scrollbar-track {
    background: transparent;
}

.leaderboard::-webkit-scrollbar-thumb {
    background: rgba(34, 211, 238, 0.4);
    border-radius: 10px;
}

.leaderboard::-webkit-scrollbar-thumb:hover {
    background: rgba(34, 211, 238, 0.8);
}

h2.game-title {
    font-size: 2.6rem;
    margin-bottom: 10px;
    color: #ffd700;
    text-shadow: 0 0 4px #ffd700;
}

h3.timer-text {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: black;
    position: absolute;
    left: 40px;
    top: 30px;
    background: linear-gradient(90deg, #76eafc, #72f290);
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.fixed-dice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.dice-box {
    background: #173959;
    padding: 20px 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

}

.dice {
    font-size: 120px;
    user-select: none;
    color: #00d8ff;
    margin-bottom: 8px;
}

.big-dice {
    font-size: 140px;
    cursor: pointer;
}

.roll-btn {
    margin: 20px auto 0 auto;
    display: block;
    background: linear-gradient(90deg, #4aca68, #22d3ee);
    border: none;
    color: #0f172a;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 12px 40px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.roll-btn:hover {
    background: linear-gradient(90deg, #22d3ee, #4aca68);
    transform: scale(1.05);
}

#playersContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 1400px;
    margin-top: 30px;
}

.player-card {
    background: #164466;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.player-card.player-active {
    box-shadow: 0 0 12px rgba(0, 255, 247, 0.4);
    transform: scale(1.02);
}

.player-card h3 {
    margin-bottom: 12px;
    font-size: 1.4rem;
    color: #00f7ff;
}

.energy-bar {
    width: 90%;
    height: 14px;
    background: #022a3a;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.energy-progress {
    height: 100%;
    background: linear-gradient(90deg, #4aca68, #22d3ee);
    transition: width 0.4s ease;
}

.winner-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 999;
}

.winner-screen.active {
    opacity: 1;
    pointer-events: all;
}

.winner-box {
    background: #111827;
    padding: 35px 50px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    position: relative;
}

#winnerText {
    font-size: 2.8rem;
    color: #facc15;
    margin-bottom: 25px;
}

.winner-box button {
    padding: 12px 40px;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
    background: linear-gradient(90deg, #4aca68, #22d3ee);
    color: #0f172a;
    cursor: pointer;
    transition: all 0.3s ease;
}

.winner-box button:hover {
    background: linear-gradient(90deg, #22d3ee, #4aca68);
    transform: scale(1.05);
}

@media (max-width: 900px) {
    #playersContainer {
        justify-content: center;
    }

    .player-card {
        width: 90%;
        max-width: 320px;
        margin-bottom: 20px;
    }
}                       

@media (max-width:960px) {
    #progressContainer {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    #playersContainer {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

@media (max-width:560px) {

    #progressContainer,
    #playersContainer {
        grid-template-columns: 1fr;
    }

    .dice-box .dice {
        font-size: clamp(60px, 14vw, 90px);
    }

    .big-dice {
        font-size: clamp(90px, 20vw, 140px);
    }
}

@media (max-width: 992px) {
    .players {
        gap: 25px;
    }
}

@media (max-width: 768px) {

    .home-wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .players {
        grid-template-columns: 1fr;
    }

    .progress-section {
        grid-template-columns: 1fr;
    }

    .fixed-dice {
        gap: 30px;
        flex-wrap: wrap;
    }

    .player-section {
        max-width: 100%;
    }
}
